In [1]:
# python의 자료구조
# list ( 기본 python에는 배열이 없어요!! )
# Java의 ArrayList와 상당히 유사
# 임의의 객체를 순서대로 저장하는 집합 자료형
# 표현방법은 [ ] 를 이용 ( 대괄호 )
my_list = list()  # list() 내장함수를 이용해서 list 생성
print(type(my_list)) # list의 data type을 확인
my_list = [1,2,3,4]
my_list =[1,3.14,"Hello",True] #list의 요소는 다른 데이터 타입을 사용할 수 있다.
my_list =[1,2,["show","me","the","money!!"],3.14,True]  #lislt안에 list가 올 수 있다.

#list에 대해서 indexing을 할 수 있어요
print(my_list[0])   #1이 출력, type => class itn
# list에 대해서 slicing을 할 수 있어요!
print(my_list[0:1])    #list 형식으로 slicing 돼요
# !! 두 개만 출력하려고 해요!!
print(my_list[2][3][-2:])   #앞에 2는 전체 리스트에서 showmethemoney부분 뽑고, 뽑은 게 리스트가 되어서 3은 money!!이고 
                                                                                                #여기서 뒤에서 2부터 전체 뽑기

#list와 같이 많이 사용되는 내장 함수가 하나 있다.
#range()   #range도 많이 사용되기 때문에 잘 알아두기!! 시작과 끝 영역을 잡는 함수 (영역함수)
my_range=range(10)    # 0부터 9까지 1씩 증가하는 range
my_range=range(1,10)  # 1부터 9까지 1씩 증가하는 range
my_range=range(1,10,3)  # 1부터 9까지 3씩 증가하는 range
my_list = list(my_range)
print(my_list)
print(my_range)

<class 'list'>
1
[1]
!!
[1, 4, 7]
range(1, 10, 3)

In [31]:
#list의 기본 연산
a = [1,2,3]
b=[4,5,6]

result= a +b    # "+" 연산은 연결의 의미
result= a *3    # "*" 연산 역시 연결의 의미

a = [1,2,3,4,5]
a[0] =[9,9,9] #indexing :a의 0번째를 [9,9,9]로 바꿔라. 전체를 잘라서 붙이기   [[9, 9, 9], 2, 3, 4, 5]
a[0:1] = [9,9,9]  #값만 끼워넣기   [9, 9, 9, 2, 3, 4, 5]

a = [1,2,3,4,5]
#a[0:-1] = []   # 0부터 -1자리(5) 전까지(뒤에는 포함되지 않음)를 삭제  [5]
#del a[0]       #indexing을 이용해서 삭제
del a[0:-1]    # slicing을 이용해서 삭제  [5]
print(a)

[5]

In [40]:
#list가 가지고 있는 함수들
my_list=[1,2,3]
#my_list.append(4)  #list의 마지막 요소에 추가
#my_list.append([9,9,9])  #list의 마지막 요소에 전체 추가 [1, 2, 3, [9, 9, 9]]
my_list.extend([9,9,9])   #list 확장   [1, 2, 3, 9, 9, 9]

my_list=[5,8,2,7,0]
result = my_list.sort()   # 오름차순 정렬 
                             #소팅된 결과를 리턴하지 않아요 (원본을 바꾸고 리턴시키지 않는다) list원본을 정렬

print(my_list)
my_list.reverse()    #list안의 요소를 역순으로 배치
                     #리턴하지 않고 원본을 변경
print(my_list)

# 위치를 알아내는 함수( index() )
my_list=[5,8,2,7,0]
print(my_list.index(7))

[0, 2, 5, 7, 8]
[8, 7, 5, 2, 0]
3

In [45]:
# list의 추가적인 함수들
a = [1,2,3]
a.insert(0,100)     #list안에 원하는 위치에 원하는 값을 추가하고자 할 때 사용

a=[1,2,3,1,2,3,1,2,3]
a.remove(3)         #list안에서 삭제하고자 하는 것을 처음 발견한 것만 삭제   [1, 2, 1, 2, 3, 1, 2, 3]

a=[1,2,3]
result =a.pop()    # list의 마지막 요소를 뜯어오는 함수 (마지막 값 삭제)

[1, 2]

In [53]:
a = [1,2,3] #[1,2,3] => list 객체 => 메모리 어딘가에(Heap) 저장되어 있다
            # a는 list 객체의 시작 메모리 주소에 대한 reference를 가지고 있다.
            # a는 reference variable이라고 한다
#id(a)      # id() 함수는 reference값을 알아내는 함수
b=a
print(a is b)  #True
               #a와 b가 같은 객체 reference
    
b= a[:]         #slicing 처음과 끝을 명시하지 않으면 전체의 값을 가져옴
print( a is b)   # False
                # a와 b가 서로 다른 객체 reference /
                #객체(reference)가 같냐 다르냐는 is 사용/ 값이 같은지는 = 사용
    
from copy import copy
a = [1,2,3]
b= copy(a)
print(a is b)   #False
                #a와 b가 서로 다른 객체 reference

True
False
False

In [82]:
#python의 자료구조 중 list와 상당히 유사
#튜플 (tuple)
#list와 거의 유사
#기호 :()  => 소괄호
#list는 list안의 값의 수정과 삭제가 가능
#tuple은 tuple안의 값 수정과 삭제가 불가능

my_tuple = (1,2,3)   #튜플을 literal
my_tuple=(1,)         #원소가 1개 있는 literal
my_tuple=(1, 3.14, "hello")    #일반적인 경우
my_tuple = 1,2,3      #tuple은 () 생략 가능

#(a,b,c)=(1,2,3)
#a,b,c=(1,2,3)
#(a,b,c)=1,2,3

my_tuple =1,2,3,4,5,6    #tuple은 () 생략 가능
my_tuple[1]             #tuple에 대한 indexing
my_tuple[1:3]           #tuple에 대한 slicing

my_tuple = 1,2,3
result = my_tuple + (4,5,6)   # 튜플 자체의 변화가 아닌 ""+"연산을 통한 확장된 result로 만든다
result    #(1,2,3,4,5,6)
my_tuple  #(1,2,3)

(1, 2, 3)

In [58]:
# list와 tuple간의 변환
my_list = [1,2,3]
my_tuple = tuple(my_list)
my_tuple

my_tuple = ("hello", "world", "!!")
my_list=list(my_tuple)
my_list              #튜플 사용하다가 수정 삭제가 필요하면 
                   #list로 변환해서 수정 삭제할 때 사용할 수 있다.

['hello', 'world', '!!']

In [66]:
# python에서 사용되는 map
# python에서는 dictionary라고 표현한다
# dictionary는 {}로 표현하고 key와 value의 쌍으로 표현 => 순서가 의미없다 
#key, value 값을 어떤 걸 먼저 뽑아올지 모름. 내가 정할수도 없음
# literal의 형태가 => "JSON"처럼 생겼다
my_dict= {"name" :"홍길동", "address" :"서울"}
print(type(my_dict))         #{'address': '서울', 'name': '홍길동'}
my_dict["age"] = 50          # 배열 행태로 사용 가능    {'address': '서울', 'age': 50, 'name': '홍길동'}
                             # 동적으로 key와 value를 추가, 수정, 삭제할 수 있다. key가 없으면 추가해서 나타냄
del my_dict["address"]      # "address" key 삭제   {'age': 50, 'name': '홍길동'}
my_dict["name"]
#key가 중복될 수는 없다. 하나 무시
my_dict = {"name":"홍길동", "age": 20, "age":40}
my_dict

<class 'dict'>

{'age': 40, 'name': '홍길동'}

In [1]:
#dictionary의 일반적인 사용법
#3가지 method를 이용해서 사용한다
#keys() => dictionary의 key들을 dict_keys라는 type으로 return.
#list와 상당히 유사. 하지만 list는 아니기 때문에 list함수 사용 불가
my_dict = {"name":"홍길동", "age": 20, "address": "서울"}

#python에서 block은 indentation(들여쓰기 스페이스 4칸으로 표현)으로 표시
for tmp in my_dict.keys():
    print("{}".format(tmp))   #.format() 괄호 안에 있는 타입으로 데이터 뽑아내서 앞에 {}에 저장된다는 의미 
    #print(tmp)
    #values()라는 함수는 dictionary에서 value만 추출
for tmp in my_dict.values():
    print("{}".format(tmp))   
#items()라는 함수는 dictionary에서 (key, value) 추출
for (key,value) in my_dict.items():
    print("{},{}".format(key, value))   
    
#dictionary에서 값을 추출할 때는 2가지 방식
my_dict = {"name":"홍길동", "age": 20, "address": "서울"}
print(my_dict["name"])       #홍길동
print(my_dict.get("name"))   #함수를 이용해서 사용  / 홍길동
print(my_dict.get("name11","이름없음"))    #함수를 이용해서  / 찾는 key가 없으면 뒤에 값으로 추출 / 이름없음
print("age" in my_dict)      #True, my_dict의 key중에 내가 찾고자 하는게 있는지

my_dict.clear()              #모두 삭제

age
address
name
20
서울
홍길동
age,20
address,서울
name,홍길동
홍길동
홍길동
이름없음
True

In [25]:
#set data type
#{ } : 중괄호를 이용해서 set 표현
#{1,3,5,"hello"}
#중복을 배제, 순서가 없는 집합형 자료구조
s ={1,2,3}   #set의 literal
s= set([1,2,3,4,5])
s = set("hello")

s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6,7,8,9}
s3 = s1 & s2              # s1.intersection(s2) , 교집합
s3 = s1| s2               # s1.union(s2) , 합집합
s3 = s1-s2                # s1.difference(s2) , 차집합
s={1,2,3}
s.add(10)                 # set에 요소 1개를 추가하고 싶을 때
s.update([10,20,30])      # set에 요소를 여러개 추가할 때
s.remove(30)              # 삭ㅈㅔ
s

{1, 2, 3, 10, 20}

In [ ]:
#bool  (True, False)
#python은 다음과 같은 경우에 False로 간주
#False keyword
#빈 문자열 ("") => False로 간주, "2aa" => True
#빈 list ( [] ) => False로 간주
#빈 tuple ( () ) => False로 간주
#빈 dictionary ( {} ) => False로 간주
#숫자 0은 False,  나머지 숫자 True 간주
# None => False로 간주
``

In [26]:
# if문의 형식  
area =["서울","인천","부산"]
if "제주" in area:
    #참일경우 code 작성
    pass     # 코드를 작성할 것이 없을 때
elif "부산"in area:
    print("부산은 있어요")
else:
    print("부산은 없어요")

부산은 있어요

In [28]:
# 입력을 받고 싶어요
# 입력 받은 내용은 무조건 문자열로 처리된다.
a = input("사용자 입력을 받아요")
print(a)

사용자 입력을 받아요123
123

In [14]:
# Lotto program 작성
# 1~46까지의 숫자 중 6개의 난수를 중복 없이 발생
# => 이번주 로또 번호
# 사용자로부터 6개의 숫자를 다음과 같은 형식으로 입력 받음
# 4, 15, 25,33,41,46 (,를 기준으로 숫자 6개 입력)
# 6개 맞으면 1등, 5개 맞으면 2등, 4개 맞으면 3등, 3개 맞으면 3등, 나머지 꽝!!
import random
#a = random.randint(1,46)      # 난수 발생하는 코드

lotto = set()        # 중복을 제거하기 위해
while len(lotto)  != 6:
    lotto.add(str(random.randint(1,46)))
    
user = input("이번주 로또 번호 입력!!")
user_set = set(user.split(","))   #user라는 문자열을 "," 기준으로 list로 바꾸기

count = len(lotto & user_set)
if count ==6:
    print("1등입니다!!")
elif count==5:
    print("2등입니다!!")
elif count==4:
    print("3등입니다!!")
elif count ==3:
    print("4등입니다!!")
else:
    print("꽝입니다!!")
    
print("이번주 로또 번호 : {}".format(lotto))
print("맞춘 개수 : {}".format(count))

이번주 로또 번호 입력!!1 2 3 4 5 6
꽝입니다!!
이번주 로또 번호 : {'42', '25', '28', '39', '19', '9'}
맞춘 개수 : 0

In [38]:
#exercise

#홀수 개의 숫자로 구성된 문자열 입력 받기 7이상 11이하
#중앙 숫자를 기준으로 앞과 뒤 두개의 수로 분리한 후 수를 거꾸로 뒤집은 다음 두 수의 차를 구하기

str = input("숫자를 입력하세요")

num = len(str) //2    #입력받은 숫자 길이를 2로 나눈 몫 값이 중앙 값 앞의 숫자
str1 = str[:num]
str2 = str[num+1:]

list1=list(str1)
list2=list(str2)

list1.reverse()
list2.reverse()

str1 ="".join(list1)  #list => 문자열
str2 ="".join(list2)  
#list = str.split() : 문자열 => 리스트, 공백시 스페이스 기준

int1 = int(str1)
int2 = int(str2)

result = 0

if int1>int2:
    result = int1 - int2
else:
    result = int2 - int1
print("결과 : {}".format(result))

숫자를 입력하세요1234560
결과 : 256

In [9]:
# 날짜
from datetime import date, datetime

#오늘 날짜 구하기
today = date.today()
print(type(today))
print(today)

print("연도 : {}, 월 : {}, 일 : {}".format(today.year, today.month, today.day))  #연도 : 2019, 월 : 2, 일 : 13

#오늘 날짜와 시간을 구하기
today= datetime.today()
print(today)

<class 'datetime.date'>
2019-02-13
연도 : 2019, 월 : 2, 일 : 13
2019-02-13 15:44:55.683157

In [1]:
#날짜 연산
from datetime import date, datetime, timedelta
from dateutil.relativedelta import relativedelta

today = date.today()
days = timedelta(weeks=-1)   #날짜를 기준으로 하루 전의 값 / delta값은 날짜,시간의 간격 값
print(today+days)

today = datetime.today()
days = timedelta(hours=-7)   #날짜를 기준으로 하루 전의 값 / delta값은 날짜의 간격 값   
#days, hours, minutes, seconds, weeks
#years, months는 사용할 수 없다.
months = relativedelta(months=-2)  #from dateutil.relativedelta import relativedelta 추가해서 사용해야 한다.
#만약 현재 날짜가 3월 31일인데 1달 전 날짜를 구하면 2월 28일이 돼요.
print(today+months)

2019-02-07
2018-12-14 18:29:47.923245

In [30]:
# 날짜 formatting
from datetime import datetime

today = datetime.today()
print("현재 시간은: {}".format(today))    #현재 시간은: 2019-02-13 16:18:23.844084
print("현재 시간은: {}".format(today.strftime("%y-%m-%d %H:%M:%S" )))    #현재 시간은: 19-02-13 16:22:20

현재 시간은: 2019-02-13 16:22:20.631930
현재 시간은: 19-02-13 16:22:20

In [33]:
# print함수의 특징
print("이것은", end=" ")   #end가 없으면 출력하고 줄바꿈. 줄 바꾸지 않고 end뒤에 있는 처리를 한다.
print("소리없는", end=" ")
print("아우성!!")

이것은 소리없는 아우성!!

In [81]:
user = input("숫자를 입력하세용")

num = len(user) //2

str1 = user[:num]
str2 = user[num+1:]


#list1 = str1.split()    #list로 결과를 return하는 것이지 list로 바뀌는 게 아님???
#list2 = str2.split()
list1 = list(str1)
list2 = list(str2)
list1.reverse()
list2.reverse()

str1 = "".join(list1)
str2 = "".join(list2)

int1=int(str1)
int2=int(str2)

result = 0
if int1 > int2:
    result =int1-int2
else:
    result=int2-int1
result

숫자를 입력하세용12345

33